<div class="container" (keydown)="onItemKeydown($event)">
  @for (item of items; track item; let i = $index; let last = $last) {
    <button
      mat-button
      class="item"
      [ngStyle]="item.styles"
      [class.current]="theme === item.className"
      (click)="theme = item.className"
      [class.hover]="hovering !== null"
      (focus)="hovering = item.className"
      [attr.cdkFocusInitial]="theme === item.className || null"
      (mouseenter)="hovering = item.className"
      (mouseleave)="hovering = null"
      >
      @if (theme === item.className) {
        <mat-icon>check_circle</mat-icon>
      }
    </button>
  }
</div>
