/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.elevation-classes();
@include mat.app-background();

@import './app/core/themes/indigo-pink';
@import './app/core/themes/deeppurple-amber';
@import './app/core/themes/pink-bluegrey';
@import './app/core/themes/pink-grey';
@import './app/core/themes/indigo-grey';
@import './app/core/themes/purple-green';
@import './app/core/themes/cyan-orange';

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.pink-grey-theme {
  .example-card {
    color: white;
  }
}
